
@{
    ViewBag.Title = "Logowanie";
}

<h1>Zalogowano.</h1>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Wyloguj" class="btn btn-default" />
    </div>
</div>

