@{
    ViewBag.Title = "O projekcie";
}
<h2>@ViewBag.Title.</h2>

<p><p>
    Nasz projekt ma na celu stworzenie aplikacji kalendarza z możliwością dodawania wydarzeń, planów, deadlinów, celów, zadań itp. Użytkownikowi zostanie udostępniony program, który pozwoli na uporządkowanie i zaplanowanie dni, tygodni, miesięcy i lat tak, aby o niczym nie zapomniał i produktywnie dysponował swoim czasem.

    Funkcje związane z grupowaniem wydarzeń oraz wyświetlaniem zapisanych planów w formie listy to-do pomogą użytkownikowi kontrolować pracę nad własnymi projektami, a kalendarzowy widok z kolorystycznym zaznaczeniem pozwoli dostrzec większy obraz nadchodzących dni. Możliwości włączenia widocznego licznika dni pozostałych do danego wydarzenia lub deadlinu pomogą nie zapomnieć o tym, co priorytetowe (jak np. termin spłaty raty kredytu czy oddania projektu na inżynierię oprogramowania).

    Nasz kalendarz będzie aplikacją webową, napisaną w C# z ASP.NET, wykorzystującą także bazę danych przechowującą m.in. dodane przez użytkownika wydarzenia lub cele. Pozwoli to dostać się do swoich planów i listy obowiązków z większości urządzeń z dostępem do internetu, wliczając w to urządzenia mobilne.

</p></p>
