@{
    ViewBag.Title = "Kontakt z twórcami";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Adam Ch.:</strong>   <a href="mailto:ulcostam@edu.uni.lodz.pl">ulcostam@edu.uni.lodz.pl</a><br />
    <strong>Weronika K.:</strong> <a href="mailto:ulcostam@edu.uni.lodz.pl">ulcostam@edu.uni.lodz.pl</a><br />
    <strong>Joanna J.:</strong> <a href="mailto:ulcostam@edu.uni.lodz.pl">ulcostam@edu.uni.lodz.pl</a>
</address>