@{
    ViewBag.Title = "Rejestracja i logowanie";
}
<h2>@ViewBag.Title.</h2>

<p><p>Kliknij <a href="https://localhost:44325/User/AddOrEdit">tutaj </a>aby się zarejestrować lub <a href="https://localhost:44325/Log/Index">tutaj </a>aby się zalogować.</p></p>
